@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

:root{

    --mainWhite: #fff;
    --mainBlack: #000;
    --offWhite: #f5f5f5;
    --seaGreen: #9ab1a1;

}

body {
    font-family: 'Judson', serif;
    background: #9ab1a1;
    color: var(--mainBlack);

}



.nav-link{
    color: black;
    /*transition: all 0.5s ease-in-out;*/
    font-size: 25px;
    align-items: right;
    padding-left:100px;
    padding-right: 100px;

}


/*size of logo*/
@media (min-width: 2000px){

}

.nav-item {
    padding: 7px;
}


/*color for hovering over links*/
.nav-link:hover{
    color: var(--seaGreen);
}
/*end of nav links*/





.img-fluid{
max-width: 50%;
height: auto;
width: auto;
}


.registration {
  padding-top: 50px;

  padding-bottom: 50px;

}

/*banner pic */
.dogbanner {

max-width: 100%;
max-height: 100%;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */


}
.dog-facts{
  background: var(--offWhite);
  max-height: 1200px;

}

.dog-facts img {

    width: 120px;
    height: 90px;
    margin: auto;
    display: block;

}

.more-info  {
    background: var(--seaGreen);

}


/*form titles*/

.form-label{
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Judson", serif;
  font-size: 26px;
}

/*Find an adoptable pet near you */
.banner-title {
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-family: "Judson", serif;
}

/*search button */
.btn {
border: none;
padding: 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 25px;
}

/*footers */

#footer{ /*fix this it is overriding everything*/
  /*footer background*/
  background: #000000;

  /*title colors */
  color: var(--seaGreen);
  width: 100%;
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;


  .links{
    ul {list-style-type: none;}
    li a{
      color: white;

      &:hover{
        text-decoration:none;
        color: #4180CB;
        }
    }
  }


  .about-company{
    i{font-size: 20px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
    p{
      color: #ffffff;
      font-size: 15px;
    }

  .location{
    i{font-size: 20px;
    color: #ff0000;

    }
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}
