@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

:root{

    --mainWhite: #fff;
    --mainBlack: #000;
    --offWhite: #f5f5f5;
    --seaGreen: #9ab1a1;

}

body {
    font-family: 'Judson', serif;
    background: var(--offWhite);
    color: var(--mainBlack);
    padding-top: 83px;

}


.nav-link{
    color: black;
    /*transition: all 0.5s ease-in-out;*/
    font-size: 25px;
    align-items: right;
    padding-left:100px;
    padding-right: 100px;

}


/*size of logo*/
@media (min-width: 2000px){

}

.nav-item {
    padding: 7px;
}


/*color for hovering over links*/
.nav-link:hover{
    color: var(--seaGreen);
}
/*end of nav links*/

/*logo*/
.img-fluid {
max-width: 50%;
height: auto;
width: auto;

}

/*pic of harley*/
.harley {
  border: 7px solid #df4759;
  width: 300px;
  height: 400px;
  margin-bottom: 80px;
  margin-top: 50px;

}

.about-me{
  background-color: black;
  width: 700px;
  border: 7px;
}


.map {
  margin-bottom: 20px;
  margin-top: 60px;
}


.details {

  background-color: #9ab1a1;

}

/*inquire button */
.btn {
border: none;
padding: 10px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 25px;
margin-top: 50px;
}

/*footers */

#footer{ /*fix this it is overriding everything*/
  /*footer background*/
  background: var(--mainBlack);

  /*title colors */
  color: var(--seaGreen);
  width: 100%;
   position: absolute;
   left: 0;
   right: 0;
   width: 100%;


  .links{
    ul {list-style-type: none;}
    li a{
      color: white;

      &:hover{
        text-decoration:none;
        color: #4180CB;
        }
    }
  }


  .about-company{
    i{font-size: 20px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
    p{
      color: #ffffff;
      font-size: 15px;
    }

  .location{
    i{font-size: 20px;
    color: #ff0000;

    }
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}
