body {

  font-family: 'Trirong', serif;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

.body-block{
    background-color:#F5F5F5
}

.main-box{
    margin-top: 5rem;
}

.login-img{
    background-image: url("../images/dog_login.jpg");
    background-repeat: no-repeat;
    background-size: 75rem;
}

.left-box{
    background-color: white;
    border-top-left-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
    box-shadow: .1rem .1rem .5rem #000000;
}

.right-box{
    background-color: #9ab1a1;
    border-top-right-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    box-shadow: .1rem .1rem .5rem #000000;

}

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

.title {
  text-shadow: 5px 5px white;
}
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto}

    #footer{
      /*footer background*/
      background: #000;

      /*title colors */
    color: #d4d4d4;
      width: 100%;
       position: absolute;
       left: 0;
       right: 0;
       width: 100%;

    }
